# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store

# Env files
*.env
server/.env

# Build output
client/dist
client/node_modules
server/node_modules

# Liquibase local overrides
liquibase/liquibase.local.properties
liquibase/drivers


#python
__pycache__
.venv

act.variables
act.secrets